# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor:not(.mini)': [
    {
      'label': 'Git add file'
      'command': 'git-plus-leap:add'
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Git Plus'
      'submenu': [
        {
          'label': 'Add'
          'command': 'git-plus-leap:add'
        }
        {
          'label': 'Add All'
          'command': 'git-plus-leap:add-all'
        }
        {
          'label': 'Commit'
          'command': 'git-plus-leap:commit'
        }
        {
          'label': 'Diff'
          'command': 'git-plus-leap:diff'
        }
        {
          'label': 'Difftool'
          'command': 'git-plus-leap:difftool'
        }
        {
          'label': 'Diff All'
          'command': 'git-plus-leap:diff-all'
        }
        {
          'label': 'Add & Commit'
          'command': 'git-plus-leap:add-and-commit'
        }
        {
          'label': 'Add All & Commit'
          'command': 'git-plus-leap:add-all-and-commit'
        }
        {
          'label': 'Add All & Commit & Push'
          'command': 'git-plus-leap:add-all-commit-and-push'
        }
        {
          'label': 'Push'
          'command': 'git-plus-leap:push'
        }
        {
          'label': 'Log'
          'command': 'git-plus-leap:log'
        }
        {
          'label': 'Merge'
          'command': 'git-plus-leap:merge'
        }
        {
          'label': 'Pull Using Rebase'
          'command': 'git-plus-leap:pull-using-rebase'
        }
        {
          'label': 'Rebase'
          'command': 'git-plus-leap:rebase'
        }
        {
          'label': 'Record Audio'
          'command': 'git-plus-leap:record-audio'
        }
      ]
    ]
  }
]
